.gray-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* Center the content */
}

.research-section {
    background-color: #ffffff; /* White background */
    border-radius: 20px; /* Rounded corners */
    padding: 30px; /* Add padding */
    margin-bottom: 50px; /* Add margin at the bottom */
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif; /* Change font family */
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif; /* Change font family */
}

.research-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1890ff; /* Link color */
    font-weight: bold;
    transition: color 0.3s; /* Smooth transition */
}

.research-link:hover {
    color: #40a9ff; /* Change link color on hover */
}

.link-text {
    margin-right: 10px;
}

.arrow-icon {
    font-size: 20px;
}
